* {
    all: unset;
    background-color: #282A36;
    color: #F8F8F2;
    font-family: "FiraCode Nerd Font";
}

.top-bar {
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}
